.heading{
    float: left;
    padding-top: 15%;
    padding-left: 5%;
    font-family: 'Indie Flower', cursive;
}
.butt{
    height: 40px;
    width: 190px;
    background-color: #4175EE;
    text-align: center;
    border-radius: 5%;
    color: aliceblue;
    display: inline-block;
}
hr.new1{
    border-top: 1px solid black;
}
.about{
    height: 600px;
    background-color: #0E192F;
    color: aliceblue;
}
.box{
    width:300px ;
    
    
    
}